.openerp .oe_view_manager_view_calendar {
  position: relative; }

.openerp .oe_calendar_sidebar {
  width: 200px;
  padding: 5px; }
.openerp .oe_calendar_sidebar .oe_calendar_responsible .oe_calendar_color {
  display: inline-block;
  border: 1px solid silver;
  width: 13px;
  height: 13px; }
.openerp .oe_calendar {
  background-color: white;
  min-height: 600px;
  border-right: 1px solid #eeeeee; }
.openerp .oe_calendar .oe_calendar_filter {
  padding: 0 10px; }
.openerp .oe_calendar .dhx_cal_select_menu .dhx_menu_icon.icon_edit {
  display: none; }
.openerp .oe_calendar .dhx_cal_event_line, .openerp .oe_calendar .dhx_cal_event_clear {
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  height: 17px; }
.openerp .oe_calendar .dhx_cal_event_clear {
  height: auto; }
.openerp .oe_calendar .dhx_cal_event .dhx_footer {
  background: url(../../lib/dhtmlxScheduler/codebase/imgs_dhx_terrace/resizing.png) no-repeat center center !important; }
.openerp .oe_calendar .dhx_event_move {
  cursor: pointer; }
.openerp .oe_calendar .dhx_cal_quick_info {
  background: none repeat scroll 0 0 white; }
.openerp .oe_calendar .dhx_cal_qi_title {
  color: black; }
.openerp .oe_calendar.oe_cal_month .dhx_cal_data table tr td:last-child div.dhx_month_body {
  padding-right: 5px; }
.openerp .oe_calendar_mini .dhx_year_event {
  background-color: white;
  font-weight: bold; }
.openerp .oe_calendar_mini .dhx_calendar_click.dhx_year_event {
  background-color: #c2d5fc; }
.openerp .oe_calendar_mini .dhx_now .dhx_year_event {
  background-color: #fff3a1; }
.openerp .dhx_cal_container {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif; }
.openerp .dhx_cal_event_line {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif; }
