.oe_journal_dashboard_kanban .oe_journal_title {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  background: #f0eeee;
  color: #666666;
}
.oe_journal_dashboard_kanban .oe_journal_title p{
  margin: 0px;
}
.oe_journal_dashboard_kanban .panel-heading p{
  margin: 10px 0 0 0;
}
.oe_journal_dashboard_kanban .oe_journal_data {
  margin-left:10px;
}
.oe_journal_dashboard_kanban .oe_journal_card_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.oe_journal_dashboard_kanban .oe_kanban_groups {
  width: 100%;
}
