.openerp .oe_emp_chart tr{
    background-color:#F5F5F5;
}
.openerp .oe_emp_chart #tree-container
{
    position:relative;
    min-height: 680px;
}
.openerp .oe_emp_chart
{
    width: 100%;
    height: 100%;
}
.openerp .oe_emp_chart .node {
    cursor: pointer;
}
.openerp .oe_emp_chart .overlay{
    background-color:#F5F5F5;
    min-height: 680px;
}
.openerp .oe_emp_chart .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.openerp .oe_emp_chart .node text {
    font-size:10px; 
    font-family:sans-serif;
}
.openerp .oe_emp_chart .link {
fill: none;
stroke: #78866B;
stroke-width: 1.5px;
}
.openerp .oe_emp_chart .templink {
fill: none;
stroke: red;
stroke-width: 3px;
}
.openerp .oe_emp_chart .ghostCircle.show{
    display:block;
    }
.openerp .oe_emp_chart .ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
.oe_emp_chart #right-panel
{
    border-left:1px solid #78866B;
    width:150px;
}
.openerp .oe_emp_chart #emp-information
{
//background-color:white;
width:140px;
height:260px; 
padding:6px;
//border:2px groove white;
border-radius:4px;
position:relative;
margin-top:5px;
margin-left:5px;
}
.openerp .oe_emp_chart #ename
{
margin:auto;
width:150px;
position:relative;
font-size:10pt;
color:#6666CC;
font-style:bold;
}
.openerp .oe_emp_chart #post
{
font-size:8pt;
}
.openerp .oe_emp_chart img#photo
{
border:2px solid gray;
border-radius:8px;
}
.openerp .oe_emp_chart .resent_log
{
    background-color:#F5F5F5;
    width:150px;
    height:250px; 
    padding:6px;
    padding-bottom:15px;
    border:2px groove white;
    border-radius:4px;
    position:relative;
    top:50px;
    margin-top:5px;
    margin-left:5px;
}
.openerp #emp-information button.oe_follower{
    display: block;
    text-align: center;
    width:100%;
}
.openerp div.oe_followers{
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    width: 120px;
}
.openerp .recent_data {
    background-color: #EDEDF6;
    padding: 2px;
    border: 2px solid #F5F5F5;
}
/*.openerp .recent_data:hover{
    background-color: #E6E6FA;
}*/
.openerp .recent_activity {
    height:250px;
    width:160px;
    overflow:scroll;
    font-size:8pt;
}
.openerp .rec_log_title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:9pt;
    font-weight:bold;
    color:#7c7bad;
}
.openerp .rec_act_title
{
    color:blueviolet;
    height:15px;
    margin-bottom:10px;
}
/* For suggestions use 
.openerp aside.hr_tree_wall
{
    font-size:8pt;
    overflow:auto;
    height:200px;
    background-color: #EDEDF6;
    width:158px;
}
.openerp aside.hr_tree_wall button
{
    padding:2px;
    font-size:10px;
}
.openerp aside.hr_tree_wall img
{
    height:55px;
}*/
.openerp .mail_wall_message{
    height:300px;
    width:160px;
    overflow:scroll;
}
/*.openerp .oe_view_manager.oe_mail_wall.oe_view_manager_current
{
    width:160px;
    height:300px;
    overflow:scroll;
}
*/
