.openerp .oe_kanban_view .oe_kanban_stock_picking_type {
    width: 345px;
    cursor: default;
    min-height: 245px !important;
}
.openerp .oe_stock_scan_image {
   opacity: 0.2;
   margin: 0 5px 0; 
}
.openerp .oe_stock_scan_image:hover {
   opacity: 1 
}
.openerp .oe_stock_kanban_content {
  margin-right: 16px;
}
