.row-level-2 td:first-child{
   padding-left: 20px !important;
}

.row-level-3 td:first-child{
   padding-left: 40px !important;
}

.row-level-4 td:first-child{
   padding-left: 60px !important;
}

.pond{
   visibility:hidden;
   position: absolute;
   margin-left: 6px;
   background: #fff;
   padding: 3px;
   border: 1px solid #aaa;
   border-radius: 6px;
}

.ponderation:hover .pond{
   visibility:visible; 
}

.ponderation{
	text-align: center;
}

.progress-bar{
	min-width:30px;
}

.center-text-cell{
	text-align: center;
}

.votes-red{
	background-color: #d9534f;
	color: white;
	height: 30px;
}

.child-votes-red{
	background-color: #d9534f;
	color: white;
	width: 100px;
	text-align: center;
}

.votes-green{
	background-color: #5cb85c;
	color: white;
	height: 30px;
}

.child-votes-green{
	background-color: #5cb85c;
	color: white;
	width: 100px;
	text-align: center;
}

.votes-blue{
	background-color: #428bca;
	color: white;
	height: 30px;
}

.child-votes-blue{
	background-color: #428bca;
	color: white;
	width: 100px;
	text-align: center;
}

