.children_name_in_table{
   margin-left: 2em;
}

.pond{
   visibility:hidden;
}

.ponderation:hover .pond{
   visibility:visible; 
}

.ponderation{
	text-align: center;
}

.progress-bar{
	min-width:30px;
}

.center-text-cell{
	text-align: center;
}

.votes-red{
	background-color: #d9534f;
	color: white;
	height: 30px;
}

.votes-green{
	background-color: #5cb85c;
	color: white;
	height: 30px;
}

.votes-blue{
	background-color: #428bca;
	color: white;
	height: 30px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}