.children_name_in_table{
   margin-left: 2em;
}

tr.comparison_factor_row td{
   border-bottom:2px solid black;
   height:4em;
}

.pond{
   visibility:hidden;
}

.oe_ponderation:hover .pond{
   visibility:visible; 
}

.oe_ponderation{
	text-align: center;
}
.progress-bar{

    min-width:30px;
}