.slide-box {
  border: solid #dddddd;
  border-width: 0 1px 1px 1px;
  padding-top: 5px;
  padding: 5px;
}
.slide-box .slide-container {
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}
.slide-box .slide-container:hover {
  background: #efeff0;
}
.slide-box .image-box {
  width: 90px;
  height: 60px;
  border: 1px solid #dddddd;
}
.slide-box .text-truncation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oe-presentation-image-thumbnail {
  max-height: 200px;
  overflow: hidden;
  display: block;
}

.oe-video-image-thumbnail {
  max-height: 147px;
  overflow: hidden;
  display: block;
}

.oe-document-image-thumbnail {
  max-height: 325px;
  overflow: hidden;
  display: block;
}

.oe-presentation-grid-thumbnail {
  background-color: #fcfcfc !important;
  min-height: 300px;
  border: 1px solid #ccc;
}

.oe-document-grid-thumbnail {
  background-color: #fcfcfc !important;
  min-height: 425px;
  border: 1px solid #ccc;
}

.oe-video-grid-thumbnail {
  background-color: #fcfcfc !important;
  min-height: 250px;
  border: 1px solid #ccc;
}

.oe-channel-grid-thumbnail {
  background-color: #fcfcfc !important;
  min-height: 450px;
  border: 1px solid #ccc;
}

.oe-slides-text-truncation {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-img {
  margin: 0 10px 10px 0;
}

.channel-description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: inline-block;
}

.slide-badge {
  font-weight: normal;
}

.badge-active {
  background-color: #428bca;
}

.slide-like{
  cursor: pointer;
}
.slide-unlike{
  cursor: pointer;
}
.like-box {
  position: absolute;
  right: 20px;
  top: 7px;
  font-weight: bold;
  width: 45px;
  height: 58px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  display: block;
  overflow: auto;
}

.nav-tabs > li > a {
  border-radius: 0px 0px 0 0;
}

.nav-tabs > li.slide-tabs-li {
    margin-bottom: 0px;
    padding-right: 15px; 
}
.nav-tabs li > a.slide-tabs {
    border:none;
    padding: 5px 0px;
    color: #8f8f8f ;
}
.nav-tabs li > a.slide-tabs:hover {
  border-bottom: 4px solid #a24689;
  background-color: transparent;
}
.nav-tabs li.active>a.slide-tabs, nav-tabs li.active>a.slide-tabs:focus {
  border: none;
}
.nav-tabs li.active>a.slide-tabs{
  border-bottom: 4px solid #a24689;
  font-weight: bold;
}
.slide-option-toggle{
  position: absolute;
  padding: 30px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ddd;
  opacity: 0.9;
  display:none;
}
