.bubble_main{
    margin:100px 50px;
    padding:0px;
	text-align:center;
	height: 580px;
	width: 780px;
	position: relative;
}
.bubble_area{
    overflow:hidden;
    width:780px;
    height:auto;
    position:relative;
    margin:0px auto;
	text-align:left;
	padding:-35px;
    display:flex;    
}
.bubble_node{
    cursor:pointer;
    border: 2px solid; 
    border-radius:50%;
    opacity: 0.45;
    position:absolute;
    z-index: 5;
    font-family: "sans-serif";
    font-size: 12px;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align:center;
}
.bubble_model{
    background:none;
    border: 3px solid; 
    border-radius:50%;
    position:absolute;
    z-index: 1;
    font-family: "sans-serif";
    font-size: 12px;
    font-weight: 5000;
    color: black;
    white-space: wrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align:center; 
}
.bubble_data{
    text-align:center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    opacity: 1;
    z-index:2;    
}
.bubble_expanded_nodedata{
    height:100px;
    font-style:italic;
    font-family:Century Gothic;
    color:#8e8d8d;
    font-size:15px;
    text-align:center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    padding:0px 0px 15px 0px;
}

.bubble_expanded_nodeheader{
   
    padding-top:60px;
    word-wrap: break-word;
    font-size:20px;
    text-align:center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    vertical-align: middle;
    text-align: center;
}


