@charset "utf-8";
.openerp .oe_form_readonly .oe_timesheet_weekly .oe_timesheet_button_add {
  display: none;
}
.openerp .oe_timesheet_weekly {
  overflow-x: auto;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_white {
  color: #FFFFFF;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_black {
  color: #000000;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_background_white {
  background: #FFFFFF;
}
.openerp .oe_timesheet_weekly td input.oe_timesheet_weekly_input {
  padding-right: 2px !important;
  width: 40px;
  text-align: right;
  min-width: 0 !important;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_adding_tot {
  display: table;
  width: 100%;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_adding {
  display: table-cell;
  text-align: left;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_add_row .oe_form_field_many2one {
  display: inline-block;
  width: 200px;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_add_row {
  display: none;
}
.openerp .oe_timesheet_weekly .oe_view_nocontent .oe_view_nocontent_create:before {
  margin: -5px 0 0 -95px;
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.openerp .oe_timesheet_weekly .oe_view_nocontent {
  padding-left: 95px;
  margin-top: -20px;
}