.openerp .oe_kanban_event {
  width: 325px;
  min-height: 290px !important;
}
.oe_event_date{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  font-size: 48px;
  height: auto;
  font-weight: bold;
  text-align: center;
  margin-bottom:-7px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #8A89BA;
  margin-right: 0px !important;
}
.oe_event_time{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  border-collapse: separate;
  text-align: center;
  font-weight: bold;
  color: #8A89BA;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);  
}
.oe_event_month_year{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #8A89BA;
}
.oe_event_graph_description {
  width:183px;
  margin-left: -5px;
}
