.oe_event_date{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  font-size: 48px;
  height: auto;
  font-weight: bold;
  text-align: center;
  margin-bottom:-7px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #8A89BA;
}
.oe_event_time{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  border-collapse: separate;
  text-align: center;
  font-weight: bold;
  color: #8A89BA;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.oe_event_month_year{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #8A89BA;
}

.no_of_seats{
    width:35px;
}

.oe_mapbox
{
    position: relative;
    float: right;
    height:200px;
    width:256px;
    border: 1px solid #eeeeee;
}
.oe_unsubscribe, .oe_unsubscribe_button:hover span {
   display: none;
 }
.oe_unsubscribe_button:hover .oe_unsubscribe {
   display: inline;
 }

.oe_field_nospace_if_empty {
  display: block !important;
  padding: 0 0 0 0 !important;
}

.oe_offer_content_duration > input {
  width: 3em !important;
}

td[data-field="button_open_group_registration_dispatch"] {
  width: 24px;
}

th.oe_list_header_float_time {
  text-align: right;
}

.openerp div.oe_form_field_one2many .oe_view_manager .oe_list table.oe_list_content td[data-field="slot_info"] {
  text-align: right;
}

/*
 * Preplanning
 */

.openerp .oe_preplanning table {
  /*border-collapse: collapse;*/
}

/*.openerp .oe_preplanning .handsontable th {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
*/

.openerp .oe_preplanning .handsontable colgroup .rowHeader {
  width: 150px;
}

.openerp .oe_preplanning .handsontable tbody tr th:first-child {
  text-align: left;
}

.openerp .oe_preplanning .handsontable .htHeaderCell {
  font-style: normal;
  color: #000000;
  background-color: #EEEEEE;
  white-space: nowrap;
}

.openerp .oe_preplanning .handsontable .htSlotCountHeaderCell {
  font-style: normal;
  font-weight: bold;
  color: #000000;
  background-color: #EEEEEE;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.openerp .oe_preplanning .handsontable .htPreplanningCell {
  text-align: center;
  vertical-align: middle;
}

.openerp .oe_preplanning .handsontable .htHeaderSum+.currentCol,
.openerp .oe_preplanning .handsontable .htHeaderSum+.currentRow {
  background-color: #CCCCCC !important;
}

.openerp .oe_preplanning .handsontable .htInvalid {
  background-color: #FF4C42 !important;
  color: #FFFFFF;
}

.openerp .oe_preplanning .handsontable tr td.currentRow,
.openerp .oe_preplanning .handsontable tr td.current {
  background-color: #CCCCCC !important;
}

.openerp .oe_preplanning .handsontable .currentCol {

}

.openerp .oe_preplanning .handsontable .htHeaderCentered {
  text-align: center;
}

/*.openerp .oe_preplanning .handsontable .htInvalid {
  background-color: #FFFFFF;
  color: #ff0000;
}
*/

/*.openerp .oe_preplanning .handsontable tbody tr :nth-child(2) {
  text-align: center;
  color: #000000;
  background-color: #EEEEEE;
}

.openerp .oe_preplanning .handsontable tbody tr:first-child td {
  text-align: center;
  font-style: normal;
  color: #000000;
  background-color: #EEEEEE;
}
*/

/*
.openerp .oe_preplanning .handsontable tbody tr:first-child {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.openerp .oe_preplanning .handsontable tbody > tr .htDimmed {
  font-style: normal;
  color: #000000;
}
*/

.openerp .oe_preplanning .handsontable thead th {
  vertical-align: bottom;
}

.openerp .oe_preplanning .handsontable thead th div.relative {
  height: 80px;
  min-height: 80px;
  display: table-cell;
  vertical-align: bottom;
  /* from .handsontable .relative */
  padding: 2px 4px;
  position: relative;
}

.openerp .oe_preplanning .handsontable thead th span.colHeader {
  text-align: center;
  width: 1.5em;
  padding: 5px;
  display: block;

  vertical-align: middle;
  white-space: nowrap;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  // also accepts left, right, top, bottom coordinates; not required, but a good idea for styling
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  // Should be unset in IE9+ I think.
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.openerp .oe_preplanning .handsontable tbody tr:nth-child(odd) td:not(.htHeaderCell) {
  background-color: #EEE;
}
