.oe_event_date{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  font-size: 48px;
  height: auto;
  margin-bottom:-7px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #8A89BA;
}
.oe_event_time{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  border-collapse: separate;
  color: #8A89BA;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);  
}
.oe_event_month_year{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #8A89BA;
}

.no_of_seats{
    width:35px;
}
.oe_unsubscribe, .oe_unsubscribe_button:hover span {
   display: none;
 }
.oe_unsubscribe_button:hover .oe_unsubscribe {
   display: inline;
 }