.oe_application_menu_placeholder{
    width: 220px;
    min-height:400px;
    background: #F8F8F8;
    border-right: 1px solid #afafb6;
    float: left;
}

.oe_webclient {
    width: 100%;
    display: flex;
    position: relative;
    height: 800px;
}

.oe_application {
    float: right;
    position:absolute;
}

body {
    overflow: auto;
}