.openerp .oe_kanban_job{
    width: 355px;
    min-height: 220px !important;
}
.openerp .oe_job_font {
    font-size: 16px;
}
.openerp .oe_manager_name {
    font-size: 11px;
}
.openerp .oe_gray {
    color: gray;
}
.openerp .oe_link_hover:hover{
    text-decoration: underline;
}
.openerp .oe_applicant_kanaban {
  width: 276px;
}